# Project: Any Reasons to change my daughter's school?

This is the notebook associated with the ....blabla cf project description
dictionary link - cf word

### Imports

In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
%matplotlib inline

### Load the data

In [10]:
df = pd.read_csv('fr-en-resultats-detailles-au-dnb.csv', sep=';')

In [11]:
df.shape

(1471, 20)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 20 columns):
année                              1471 non-null int64
académie                           1471 non-null object
code région                        1471 non-null int64
libellé région                     1471 non-null object
âge                                1471 non-null object
série                              1471 non-null object
inscrits                           1471 non-null int64
présents                           1471 non-null int64
admis                              1471 non-null int64
admis sans mention                 1471 non-null int64
admis mention assez bien           1471 non-null int64
admis mention bien                 1471 non-null int64
admis mention très bien            1471 non-null int64
inscrits filles                    1471 non-null int64
présents filles                    1471 non-null int64
admis filles                       1471 non-null int64
admis sans mention filles          1471 non-null int64
admis mention assez bien filles    1471 non-null int64
admis mention bien filles          1471 non-null int64
admis mention très bien filles     1471 non-null int64
dtypes: int64(16), object(4)
memory usage: 229.9+ KB

In [14]:
df.head(5)

,année,académie,code région,libellé région,âge,série,inscrits,présents,admis,admis sans mention,admis mention assez bien,admis mention bien,admis mention très bien,inscrits filles,présents filles,admis filles,admis sans mention filles,admis mention assez bien filles,admis mention bien filles,admis mention très bien filles
0,2013,DIJON,27,Bourgogne-et-Franche-Comté,17 ans ou plus,SERIE GENERALE,258,236,131,95,31,5,0,118,108,58,43,14,1,0
1,2013,POITIERS,75,Nouvelle-Aquitaine,15 ans ou moins,SERIE GENERALE,14425,14397,13276,3501,4311,3500,1964,7608,7595,7098,1703,2215,1935,1245
2,2013,NANTES,52,Pays-de-la-Loire,15 ans ou moins,SERIE GENERALE,32759,32671,30070,7129,10242,8486,4213,17026,16982,15907,3339,5104,4776,2688
3,2013,ORLEANS-TOURS,24,Centre-Val-de-Loire,16 ans,SERIE GENERALE,4835,4656,2741,2096,534,97,14,2229,2154,1346,1006,271,61,8
4,2013,LILLE,32,Hauts-de-France,15 ans ou moins,SERIE GENERALE,36893,36656,33371,11056,9705,7829,4781,19137,19027,17705,5453,5036,4251,2965

In [15]:
kinds = np.array([dt.kind for dt in df.dtypes])
np.unique(kinds, return_counts=True)

(array(['O', 'i'], dtype='<U1'), array([ 4, 16], dtype=int64))